*{
  margin: 0;
  padding: 0;
}

body{
  /* font-size: 62.5%; */
  background-color: #FAFAFA;
}

.App__header{
  width: 100%;
  border: 1px solid lightgray;

}

.App__headerImage{
  padding: 1.2rem;
  object-fit: contain;
}

.App__form{
  display: flex;
  flex-direction: column;
}