*{
  margin: 0;
  padding: 0;
}

body{
  /* font-size: 62.5%; */
  background-color: #FAFAFA;
}

.App__header{
  position: sticky;
  top: 0;
  z-index: 1;/* padding: 10px; */
  padding: 8px 0;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;

}

.App__header--container{
  min-width: 50%;
  display: flex;
  justify-content: space-between;

}

.App__headerImage{
  object-fit: contain;
}

.App__form{
  display: flex;
  flex-direction: column;
}
.App__posts{
  padding:20px;
  display: flex;
  justify-content: center;
}

.App__embed{
  margin-left: 20px;
}

.App__footer{
  position: sticky;
  bottom: 0;
  z-index: 1;/* padding: 10px; */
  padding: 8px 0;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.App__addButton{
  height: 60px;
  /* position: ; */

}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track
// ::-webkit-scrollbar-track {
//   // background: #f1f1f1; 
// } */
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #cacaca; */
  /* background: red; */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173);
  /* // background: #555;  */
}