.ImageUpload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
}

.ImageUpload__progress {
    width: 100%;
    margin-bottom: 5px;
}

.ImageUpload__caption,
.ImageUpload__file {
    margin-bottom: 5px;
}